*{
    box-sizing: border-box;
}
html, body, p {
    padding: 0;
    margin: 0;
}
.new-font{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
h1 {
    font-size: 40px;
}
h2 {
    color: black;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 36px;
}
.bold-text {
    font-weight: bold;
}
.cyan-text {
    color: #00ECBB;
}
.purple {
    background-color: #6A13EB;
}
.white-text {
    color: #fff;
}
.gray-text {
    color: #433A5E;
}

/*отступы*/
.block1 {
    width: 980px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.block1.no-padding-top {
    padding-top: 0;
}
.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    font-size: 20px;
}
.exp {
    list-style: none;
    padding: 0;
    margin: 0;
}
.exp li {
    margin: 10px 0;
}
.nav li {
    display: inline;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.achievements {
    list-style-image: url("../img/icon-ok.png");
}

.str-points {
    list-style-image: url("../img/icon-ok-2.png");
}
.img-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    
}
.interests-img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background-position: center center;
    background-size: cover;
    /* background-size: 180%; */
}
.img-1 {
    background-image: url("../img/priroda.jpg");
}
.img-2 {
    background-image: url("../img/mystic.jpg");
}
.img-3 {
    background-image: url("../img/marvel.jpeg");
}
.logo-img {
    width: 980px;
}
.name-tag {
    font-size: 24px;
    letter-spacing: 2px;
}
.paragraph {
    margin: 20px 0;
    font-size: 18px;
    line-height: 30px;
}
.hands-bg {
    background-image: url('../img/credo-bg.png');
    background-position: center;
    background-size: cover;
    padding-bottom: 15px;
    font-size: 24px;
}
.no-padding-top {
    padding-top: 0;
}
#contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#contact-form input, #contact-form textarea {
    padding: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    border: none;
    border: 3px solid #00ECBB;
    width: 100%;
}
#textarea {
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    resize: none;
    /* padding: 5px; */
}
input#submit {
    width: 350px;
    cursor: pointer;
    background-color: #00ECBB;
    color: #6A13EB;
    font-size: 24px;
}
.nav li a {
    text-decoration: none;
    color: #00ECBB;
}
#gotop {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    height: 75px;
    width: 75px;
    background-color: #00ECBB;
    color: #6A13EB;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}